<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>会話テスト</title>
    <style>
        li{
            list-style: none;
            margin: 10px 0;
        }
    </style>
</head>
<body>

  <ul id="result"></ul>

  <canvas id="recording"><canvas>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!--script type="text/javascript" src="/static/recognize.js"></script -->

  <script type="module" src="/static/SpeakerTag.js">
  <script type="module"></script>
  <speaker-tag></speaker-tag>
</body>
</html>


