<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>チャットチャンネル</title>
    <style>
        li{
            list-style: none;
            margin: 10px 0;
        }
        #main-container {
          display: flex;
        }
        .display-container {
          height: 500px;
          width: 50%;
        }
        .display-canvas {
          margin: 10px;
          width: 100%
        }
        #video {

        }
        #vtubertag {
          width: 100;
        }
   </style>
   <link rel="stylesheet" type="text/css" href="static/css/Speaker.css">
</head>
<body>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script type="module" src="/static/SpeakerTag.js"></script>
  <script type="module" src="/static/VTuberFrame.js"></script>
  <script src="/static/facetrack/model_pca_20_svm.js"></script>
  <script src="/static/facetrack/clmtrackr.min.js"></script>
  <script src="/static/facetrack/pixi.min.js"></script>
  <div id="main-container">
    <div id="mydisplay-container" class="display-container">
      <video id="video"></video>
      <speaker-tag id="speakertag"></speaker-tag>
      <vtuber-frame id="vtubertag"></vtuber-frame>
      <div id="lipbtn">lipsynch</div>
      <audio src="/static/musicbox.mp3" id="audio"></audio>
      <vtuber-frame id="vtubertag2"></vtuber-frame>
    </div>
    <div id="opdisplay-container" class="display-container">
    </div>
  </div>

  <script type="module">
    import VTuberFrame from './static/VTuberFrame.js'

    let stag = document.getElementById("speakertag");
    stag.recognizer_active = true;
    stag.comp_active = true;
    stag.callback = (text, voice, pitch, rate) => {
      // WEBSOCKETR_SEND(text, voice, pitch, rate);
      console.log(text, voice, pitch, rate);
    }

    let vtag = document.getElementById('vtubertag');
    let vtag2 = document.getElementById('vtubertag2');
    let callback = (x) => {
      vtag2.set_points(x);
    }

    document.getElementById("lipbtn").onclick = () => {
      vtag.lipsynch_start(audio.duration*1000);
      audio.play();
    }

    let audio = document.getElementById("audio");

    /*
    vtag.bg_src = 'static/img/background.jpg';
    vtag.src = 'static/img/nene.png';
    vtag2.src = 'static/img/nene.png';
    vtag2.bg_src = 'static/img/cojtroom.jpg';
    */
    vtag.callback = callback;
    vtag.self_active = true;
    vtag2.comp_active = true;

    vtag.option_callback = (k, v) => {
      vtag2.set_texture(k, v);
    }
 </script>
</body>
</html>


