<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style type="text/css">
    #channel_container {
      display: flex;
    }

    .channel_panel {
      margin: 20px;
    }
  </style>
</head>
<body>
  <div id="main_container">
    <div id ="channel_container">
      <div id="channellist_div" class="channel_panel">
        <h2>チャンネルリスト</h2>
        <li id="channel_list" class="list">
          <lo>
          <a href="channel-main">channel01</a>
          </lo>
        </li>
      </div>
      <div id="newchannel_div" class="channel_panel">
        <h2>チャンネル作成</h2>
        <form action="create channel">
          <p><input></p>
          <p><button>作成</button></p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
